LinesDetection/src/*.jpg
LinesDetection/src/__pycache__/

ToolClassification/dataset/split
ToolClassification/dataset/unsorted
ToolClassification/dataset/128x128

ToolClassification/tool_model.h5
ToolClassification/.vscode
ToolClassification/__pycache__
ToolClassification/dataset/uiuc_texture/