LinesDetection/src/*.jpg
LinesDetection/src/__pycache__/

ToolClassification/.vscode
ToolClassification/__pycache__

ToolClassification/tool_model.h5
ToolClassification/dataset/uiuc_texture/
ToolClassification/dataset/training/